extends ./layout/main.pug

block main

    <section>
        <h2>CARGAR PRODUCTO</h2>
        <form method="post" action="/productos">
            <label>Título: <input type="text" name="title"></label>
            <label>Precio: <input type="number" name="price"></label>
            <label>Thumbnail: <input type="url" name="thumbnail"></label>
            <button>CARGAR</button>
        </form>
    </section>