
<div>
    <div>
        <form action="/", method="get">
            <button>CARGAR PRODUCTOS</button>
        </form>
        <form action="/productos" method="get">
            <button>VER PRODUCTOS</button>
        </form>
    </div>
</div>